# --------
# back end
# --------
# data extracted
back_end/src/scraping/data


//envionments
back_end/.env

# compiled output
back_end/dist
back_end/node_modules

# IDE - VSCode
back_end/.vscode/*
!back_end/.vscode/settings.json
!back_end/.vscode/tasks.json
!back_end/.vscode/launch.json
!back_end/.vscode/extensions.json

# ---------
# front end
# ---------
